body {
  margin: 0;
  margin-top: 20px;
  padding: 0;
}
body .menu {
  margin-bottom: 20px;
}
body ul li {
  list-style: none;
}
body input:focus {
  min-width: 250px;
}
body .main-popup-container:before {
  display: none;
}
body .list-item {
  display: flex !important;
  justify-content: flex-end;
  align-items: center;
}
body .list-item .amount-controller {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
body .list-item .amount-controller button {
  padding: 8px 15px;
  margin: 0;
}
body .preloader {
  display: inline-block;
  height: 80px;
  width: 100%;
  background: lightgrey;
  justify-content: center;
  padding: 50px 0;
  box-sizing: content-box;
}
body .book-card {
  height: fit-content;
}
body .preloader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: preloader 1.2s linear infinite;
}
@keyframes preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
